@model ActorSakilaReboot.Models.Actor
@{
    ViewBag.Title = "Add actor";
}
<h2>Add actor</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <p>
            <div class="editor-field">
                First name: @Html.EditorFor(model => model.FirstName)
            </div>
        </p>

        <p>
            <div class="editor-field">
                Last Name: @Html.EditorFor(model => model.LastName)
            </div>
        </p>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
